fonttools[ufo]
#google-apputils
absl-py
protobuf
PyGithub
vttLib
statmake
PyYAML
babelfont
ttfautohint-py
fontmake
brotli
browserstack-local==1.2.2
pybrowserstack-screenshots==0.1
glyphslib
opentype-sanitizer
pygit2
requests
strictyaml
tabulate
unidecode
