fonttools[ufo]
#google-apputils
axisregistry>=0.2.0
absl-py
protobuf
PyGithub
vttLib
statmake
PyYAML
babelfont
ttfautohint-py
fontmake
brotli
browserstack-local==1.2.2
pybrowserstack-screenshots==0.1
gflanguages>=0.4.0
glyphslib
glyphsets>=0.2.1
opentype-sanitizer
pygit2
requests
strictyaml
tabulate
unidecode
skia-pathops
jinja2
hyperglot
